
@{
    ViewBag.Title = "DisplayData2";
}

<h2>DisplayData2</h2>

@{ 
    var mykey0 = ViewData["mykey00"];
    var mykey1 = ViewData["mykey01"];
    var mykey2 = ViewData["mykey02"];

}
<p>name: @mykey0</p>
<p>email: @mykey1</p>
<p>phone: @mykey2</p>


