
@{
    ViewBag.Title = "DisplayData";
}

<h2>DisplayData</h2>
<p> This is a test view - Action ponter to view</p>



@{ 
    var mykey0 = ViewData["mykey00"];
    var mykey1 = ViewData["mykey11"];

}
<p> hello @mykey0</p>
<p> hello @mykey1</p>

