
@{
    ViewBag.Title = "GiaiPTBac2";
}

<h2>GiaiPTBac2</h2>
<form name="f1" method="get" action="http://localhost:54384/LamToan/GiaiPTBac2_KetQua" >
        a: <input name="a" value="0" /> <br /><br />
        b: <input name="b" value="0" /> <br /><br />
        c: <input name="c" value="0" /> <br /><br />
    <input type="submit" value="Submit" />
</form>