
@{
    ViewBag.Title = "LamToan1";
}

<h2>LamToan1</h2>

@using (Html.BeginForm("LamToan1", "LamToan", FormMethod.Post))
{
<form name="f1" method=get>
soA :  <input type=text name="soA" value="5" />
soB : <input type=text name="soB" value="1" />
    <input type="submit" value="summit" /> 

</form>
}

