
@{
    ViewBag.Title = "GetKey";
}

<h2>GetTest</h2>
<form name="f1" method="get">
    <select name="tt" id="qt" onchange="quen();">
        <option value="d">d</option>
        <option value="c">c</option>
    </select>
        
    <script>
        function quen() {
            var m = document.getElementById("qt").value;
            alert("trang thai " + m);

        }
    </script>

    <input type="submit" value="submit data " />
</form>
@{
    @ViewBag.mota
}

