<!DOCTYPE html>

<html>
<head>
    <title>Send Email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>_MyLayOut</title>
</head>
<body>
    <div>
        <ul>
            <li><a style="font-style:italic;">Welcome everyone</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <hr />
    <div>
        @RenderBody()
</div>
<hr />
<footer>
    <div class="foot"><h3>Công ty trách nhiệm một thành viên Minh Chay</h3></div>
    <div class="foot"><h3>2021 allrightreserved</h3></div>
</footer>

</body>
</html>
