
<h2>getStudent</h2>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create Sample JSON Data and send it to controller</title>
    </head>
    <body>*@
@*<div> <h3>this is a child page Viewcon4</h3> </div>
<br />
<div id="stage" style="background-color: aquamarine;">
    <br />
    GetDataInHere
    <br /> <br />
</div>
<br />
<button id="btnAct3" onclick="getData()">Get Data</button><br /><br />

@*</body>
    </html>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*http://localhost:63203*@

<script lang="en" type="text/javascript">
        function getData() {
            var myurl = "MHocSinh/getStudent";
            $.getJSON(myurl, function (json) {
                alert('b: ' + json);
                $('#stage').html('<p><br/>Name: ' + json.age + '</p>');
                $('#stage').html('<p>Age: ' + json.name8 + '</p>');
            });
        }
    </script>*@


