/*warning*/
.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.btn:hover {background-color: #3e8e41}

/*text box*/
.form-control{
    width: 300px;
    height: 25px;
}
#from{
    color: aqua;
    font-weight: bold;
}
#pass{
      color: seagreen;
    font-weight: bold;
}
#to{
      color: bisque;
    font-weight: bold;
}
#subject{
      color: darkolivegreen;
    font-weight: bold;
}
#body{
      color: dimgrey;
    font-weight: bold;
}

.foot{
    text-align: center;
}
#movetxt{
     -webkit-animation: moving 10s infinite;
    animation: moving 10s infinite;
}
@keyframes moving {
     from {transform: translateY(0); opacity: 0;}
  to { transform: translateY(10px); opacity: 1; color: blue;}
}

/*caution*/
.ChuDo{
    color: red;
    font-weight:bold;
}
.ChuXanh{
    color:green;
    font-weight: lighter;
}

/*navigation bar*/
li{
    float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a:hover {
  background-color: #04AA6D;
}

/*div linh tinh*/
/*#myDiv{
     height: 150px;
  width: 150px;
  background-color: #555;   
  display:none;
  /*width:80px;height:80px;background-color:red;*/
}

